*{
  box-sizing: border-box;
}
body{
  background:#424242;
  line-height:1.5;
  padding: 1em 5em;
  font-family: sans-serif;
}

.container{
  max-width:1080px;
  margin-left:auto;
  margin-right:auto;
}

ul{
  list-style: none;
  padding:0;
}

.brand{
  color: #EF5350;
  text-align: center;
}

.brand span{
  color:#fff;
}

.wrapper{
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}

.wrapper > *{
  padding: 1em;
}

.company-info{
  background:#fff;
}

.company-info h3, .company-info ul{
  text-align: center;
  margin:0 0 1rem 0;
}

.contact{
  background:#E0E0E0;
}

.contact form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}

.contact form label{
  display:block;
}

.contact form p{
  margin:0;
}

.contact form .full{
  grid-column: 1 / 3;
}

.contact form button, .contact form input, .contact form textarea{
  width:100%;
  padding:1em;
  border:1px solid #c9e6ff;
}

.contact form button{
  background:#424242;
  border:0;
  color:#fff;
  text-transform: uppercase;
}

.contact form button:hover,.contact form button:focus{
  background:#000;
  outline:0;
  transition: background-color 2s ease-out;
}

@media(max-width: 720px){
  body{
    padding: 1em 0em;
    margin: 1em;
  }
}
@media(min-width:720px){
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > *{
    padding:2em;
  }

  .company-info h3, .company-info ul, .brand{
    text-align: left;
  }
}
.avatar{
	text-align: center;
}
.avatar img{
	width: 150px;
	border-radius: 100px;
}
.alert{
  text-align: center;
  padding:10px;
  background: #79c879;
  color: #fff;
  margin-bottom: 10px;
  display: none;
}
.error{
	background: #fff;
	padding: 3em;
	margin: 30px auto;
  box-shadow: 0 0 20px 0 rgb(255,255,255);
}
.error a{
	background: #EF5350;
	padding: 10px 15px;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
}